<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>424324399531-6hf4c2itcvlom9oa2nm5qnjnbtbd0pu7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.424324399531-6hf4c2itcvlom9oa2nm5qnjnbtbd0pu7</string>
	<key>API_KEY</key>
	<string>AIzaSyCJhFGM74N1rcfkWohG-OavJR4_oOJl8Ss</string>
	<key>GCM_SENDER_ID</key>
	<string>424324399531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mb.smartrm</string>
	<key>PROJECT_ID</key>
	<string>smartrm-46585</string>
	<key>STORAGE_BUCKET</key>
	<string>smartrm-46585.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:424324399531:ios:f8fc2fd66be6093a3792ee</string>
	<key>DATABASE_URL</key>
	<string>https://smartrm-46585.firebaseio.com</string>
</dict>
</plist>